
<div class="">
    <h3 class="text-success pt-2 fs-1 fw-bold">Welcome to MedEase</h3>
    <p class="pb-2 fs-5 fst-italic">Pakistan #1 OPD Clinic</p>
    <div class="container text-start justify-content-start">
        <div class="row align-items-center justify-content-start">
            <div class="col">
                <img src="~/assets/display.png"/>
            </div>
            <div class="col ">
                <h2>Find Your</h2>
                <h1 class="text-success fw-bolder fs-1" style="font-size:32;font-family:Poppins">Doc At Ease</h1>
                <p>CONSULT A PMC VERIFIED DOCTOR</p>
                <p class="flex-wrap">where compassionate care meets expertise in our Outpatient Department (OPD). At MedEase, we understand the importance of your health and well-being. Our dedicated team of healthcare professionals is committed to providing personalized and comprehensive outpatient services to address your medical needs. Step into a welcoming environment where your health is our priority, and experience healthcare that revolves around you.</p>
            </div>
        </div>
    </div>
</div>
